<%- include('../../partials/header') %>
<h1>All Categories</h1>
<ul>
  <% if (categories.length > 0) { %> <% categories.forEach(category => { %>
  <li>
    <% if (category.image_url) { %>
    <img
      src="<%= category.image_url %>"
      alt="<%= category.name %>"
      width="50"
    />
    <% } %>
    <a href="/categories/<%= category.id %>"
      ><%= category.name %> (<%= category.product_count %>)</a
    >
  </li>
  <% }); %> <% } else { %>
  <li>No categories found.</li>
  <% } %>
</ul>
<a href="/categories/new">Add Category</a> |
<a href="/products">Back to Products</a> <%- include('../../partials/footer') %>
