<%- include('../../partials/header') %>
<h1 class="mb-4"><%= category.name %></h1>
<% if (category.image_url) { %>
<img
  src="<%= category.image_url %>"
  alt="<%= category.name %>"
  class="show-img mb-3"
/>
<% } %>
<dl class="row">
  <dt class="col-sm-3">Description:</dt>
  <dd class="col-sm-9">
    <%= category.description || 'No description available.' %>
  </dd>
</dl>

<h2 class="mt-4">Products in this Category (<%= products.length %>)</h2>
<ul class="list-group mb-4">
  <% if (products.length > 0) { %> <% products.forEach(product => { %>
  <li class="list-group-item">
    <% if (product.image_url) { %>
    <img
      src="<%= product.image_url %>"
      alt="<%= product.name %>"
      class="product-img me-3"
    />
    <% } %>
    <div>
      <a href="/products/<%= product.id %>"><%= product.name %></a>
      (<%= product.part_number %>) - <%= product.status %>
    </div>
  </li>
  <% }); %> <% } else { %>
  <li class="list-group-item">No products in this category.</li>
  <% } %>
</ul>

<a href="/categories" class="btn btn-secondary">Back to Categories</a>
<a href="/categories/<%= category.id %>/edit" class="btn btn-primary"
  >Edit Category</a
>
<a href="/products/new?category_id=<%= category.id %>" class="btn btn-success"
  >Add Product to this Category</a
>
<form
  action="/categories/<%= category.id %>/delete"
  method="POST"
  class="d-inline"
>
  <button
    type="submit"
    class="btn btn-danger"
    onclick="return confirm('Are you sure you want to delete <%= category.name %>?');"
  >
    Delete Category
  </button>
</form>
<%- include('../../partials/footer') %>
