<%- include('../../partials/header') %>
<h1 class="mb-4">Edit <%= product.name %></h1>
<form action="/products/<%= product.id %>" method="POST" enctype="multipart/form-data" class="mb-4">
  <div class="mb-3"><label class="form-label">Name: <input type="text" name="name" class="form-control" value="<%= product.name %>" required></label></div>
  <div class="mb-3"><label class="form-label">Description: <textarea name="description" class="form-control"><%= product.description || '' %> </textarea></label></div>
  <div class="mb-3"><label class="form-label">Part Number: <input type="text" class="form-control" name="part_number" value="<%= product.part_number %>" required></label></div>
  <div class="mb-3">
    <label class="form-label">Status:
      <select name="status" class="form-select">
        <option value="IN_PRODUCTION" <%= product.status === 'IN_PRODUCTION' ? 'selected' : '' %>>In Production</option>
        <option value="PROTOTYPE" <%= product.status === 'PROTOTYPE' ? 'selected' : '' %>>Prototype</option>
      </select>
    </label>
  </div>
  <div class="mb-3">
    <label class="form-label">Category:
      <select name="category_id" class="form-select">
        <option value="">None</option>
        <% categories.forEach(category => { %>
          <option value="<%= category.id %>" <%= product.category_id === category.id ? 'selected' : '' %>><%= category.name %></option>
        <% }); %>
      </select>
    </label>
  </div>
  <div class="mb-3">
    <label class="form-label">Current Image:
      <% if (product.image_url) { %>
        <img src="<%= product.image_url %>" alt="<%= product.name %>" class="form-control" width="100"><br>
      <% } else { %>
        None
      <% } %>
      New Image: <input type="file" name="image" accept="image/*">
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
<a href="/products/<%= product.id %>" class="btn btn-secondary">Back to Product</a>
<%- include('../../partials/footer') %>