<%- include('../../partials/header') %>
<h1 class="mb-3">All Products</h1>
<form method="GET" action="/products" class="mb-4" >
  <label class="form-label">Filter by Category:
    <select name="category_id" onchange="this.form.submit()" class="form-select">
      <option value="">All</option>
      <% categories.forEach(category => { %>
        <option value="<%= category.id %>" <%= selectedCategoryId === category.id ? 'selected' : '' %>><%= category.name %></option>
      <% }); %>
    </select>
  </label>
</form>
<ul class="list-group mb-4">
  <% if (products.length > 0) { %> <% products.forEach(product => { %>
  <li class="list-group-item">
    <% if (product.image_url) { %>
    <img src="<%= product.image_url %>" alt="<%= product.name %>" width="50" class="product-img me-3"/>
    <% } %>
    <a href="/products/<%= product.id %>"><%= product.name %></a>
    (<%= product.part_number %>) - <%= product.status %> <% if
    (product.category_name) { %> - <%= product.category_name %><% } %>
  </li>
  <% }); %> <% } else { %>
  <li class="list-group-item">No products found.</li>
  <% } %>
</ul>
<a href="/products/new" class="btn btn-primary">Add Product</a>
<%- include('../../partials/footer') %>
