<%- include('../../partials/header') %>
<h1 class="mb-4">Add New Product</h1>
<form action="/products" method="POST" enctype="multipart/form-data" class="mb-4">
  <div class="mb-3"><label class="form-label">Name: <input type="text" name="name" class="form-control" required /></label></div>
  <div class="mb-3"><label class="form-label">Part Number: <input type="text" name="part_number" class="form-control" required /></label></div>
  <div class="mb-3">
    <label class="form-label"
      >Status:
      <select name="status" class="form-select">
        <option value="IN_PRODUCTION">In Production</option>
        <option value="PROTOTYPE">Prototype</option>
      </select> </label
    >
  </div>
  <div class="mb-3">
    <label
      >Category:
      <select name="category_id" class="form-select">
        <option value="">None</option>
        <% categories.forEach(category => { %>
        <option value="<%= category.id %>" <%= selectedCategoryId === category.id ? 'selected' : '' %>><%= category.name %></option>
        <% }); %>
      </select> </label>
  </div>
  <div class="mb-3"><label class="form-label">Image: <input type="file" name="image" accept="image/*" class="form-control" /></label></div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
<a href="/products" class="btn-secondary">Back to Products</a>
<%- include('../../partials/footer') %>
