<%- include('../../partials/header') %>
<h1>Add New Product</h1>
<form action="/products" method="POST" enctype="multipart/form-data">
  <label>Name: <input type="text" name="name" required /></label><br />
  <label>Part Number: <input type="text" name="part_number" required /></label
  ><br />
  <label
    >Status:
    <select name="status">
      <option value="IN_PRODUCTION">In Production</option>
      <option value="PROTOTYPE">Prototype</option>
    </select> </label
  ><br />
  <label
    >Category:
    <select name="category_id">
      <option value="">None</option>
      <% categories.forEach(category => { %>
      <option value="<%= category.id %>" <%= selectedCategoryId === category.id ? 'selected' : '' %>><%= category.name %></option>
      <% }); %>
    </select> </label
  ><br />
  <label>Image: <input type="file" name="image" accept="image/*" /></label
  ><br />
  <button type="submit">Save</button>
</form>
<a href="/products">Back to Products</a>
<%- include('../../partials/footer') %>
