<%- include('../../partials/header') %>
<h1 class="mb-4"><%= product.name %></h1>
<% if (product.image_url) { %>
<img
  src="<%= product.image_url %>"
  alt="<%= product.name %>"
  width="200"
  class="show-img mb-3"
/>
<% } %>
<dl class="row">
  <dt class="col-sm-3">Part Number:</dt>
  <dd class="col-sm-9"><%= product.part_number %></dd>
  <dt class="col-sm-3">Description:</dt>
  <dd class="col-sm-9">
    <%= product.description || 'No description available.' %>
  </dd>
  <dt class="col-sm-3">Status:</dt>
  <dd class="col-sm-9"><%= product.status %></dd>
  <dt class="col-sm-3">Category:</dt>
  <dd class="col-sm-9"><%= product.category_name || 'None' %></dd>
  <dt class="col-sm-3">Created At:</dt>
  <dd class="col-sm-9"><%= new Date(product.created_at).toLocaleString() %></dd>
</dl>
<a href="/products" class="btn btn-secondary">Back to Products</a>
<a href="/products/<%= product.id %>/edit" class="btn btn-primary"
  >Edit Product</a
>
<form
  action="/products/<%= product.id %>/delete"
  method="POST"
  class="d-inline"
>
  <button
    type="submit"
    onclick="return confirm('Are you sure you want to delete <%= product.name %>?');"
    class="btn btn-danger"
  >
    Delete Product
  </button>
</form>
<%- include('../../partials/footer') %>
